*.root
*.pdf
*.png
*.pyc
*.log
*.aux
*.nav
workdir/
.vscode/
new_variable_configs.csv
train_scripts/training_loop_script_flipout_7.sh
train_scripts/training_loop_script_flipout_6.sh
train_scripts/training_loop_script_flipout_5.sh
train_scripts/training_loop_script_flipout_4.sh
train_scripts/training_loop_script_flipout_3.sh
train_scripts/training_loop_script_flipout_2.sh
train_scripts/training_loop_script_modified_flipout_as_Var_1_b.sh
train_scripts/training_loop_script_modified_flipout_as_Var_1_c.sh
train_scripts/training_loop_script_modified_flipout_as_Var_1_d.sh
train_scripts/training_loop_script_modified_Var_V1_b.sh
train_scripts/training_loop_script_modified_Var_V1_c.sh
train_scripts/training_loop_script_modified_Var_V3_b.sh
train_scripts/training_loop_script_modified_Var_V3_c.sh
train_scripts/training_loop_script_modified_Var_V3_d.sh
